APPCTL_CLUSTER_FILE="/data/cluster.init"
APPCTL_NODE_FILE="/data/node.init"
flush /opt/app/current/bin/envs/node.env << REDIS_ENV_EOF
NODE_CTL=redis
DATA_MOUNTS=/data
MY_SID={{ getv "/host/sid" }}
MY_IP={{ getv "/host/ip" }}
MY_PORT={{ getv "/env/port" }}
SERVICES="\$SERVICES redis-server/true/tcp:$MY_PORT"
REDIS_ENV_EOF

ADDING_LIST=$(cat << EOF | sort -n
{{- range $dir := lsdir "/hosts/redis" }}
{{- $sid := printf "/hosts/redis/%s/sid" $dir }}
{{- $ip := printf "/hosts/redis/%s/ip" $dir }}
{{getv $sid}}|{{- getv $ip}}
{{- end}}
EOF
)