flush /opt/app/current/bin/envs/node.env << REDIS_ENV_EOF
APPCTL_CLUSTER_FILE="/data/cluster.init"
APPCTL_NODE_FILE="/opt/node.init"
NODE_CTL=redis
DATA_MOUNTS=/data
MY_SID={{ getv "/host/sid" }}
MY_IP={{ getv "/host/ip" }}
REDIS_PORT={{ getv "/env/port" }}
SENTINEL_PORT={{ getv "/env/standalone_port" }}
SERVICES="\$SERVICES redis-server/true/tcp:$REDIS_PORT"
SERVICES="\$SERVICES redis-sentinel/true/tcp:$SENTINEL_PORT"
CONF_MD5="/data/conf.md5"
CONF_REDIS="/data/redis/conf/redis.conf /data/sentinel/conf/sentinel.conf" 
CLUSTER_ID="{{ getv "/cluster/cluster_id" }}"
ADDING_LIST=\$(cat << EOF | sort -n
{{- range $dir := lsdir "/hosts/redis" }}
{{- $sid := printf "/hosts/redis/%s/sid" $dir }}
{{- $ip := printf "/hosts/redis/%s/ip" $dir }}
{{getv $sid}}|{{- getv $ip}}
{{- end}}
EOF
)

REDIS_ENV_EOF

