flush /opt/app/current/bin/envs/node.env << REDIS_ENV_EOF
NODE_CTL=redis
DATA_MOUNTS=/data
MY_SID={{ getv "/host/sid" }}
MY_IP={{ getv "/host/ip" }}
SERVICES="\$SERVICES redis-server/true/tcp:{{ getv "/env/port" }}"
REDIS_ENV_EOF

ADDING_LIST=$(cat << EOF | sort -n
{{- range $dir := lsdir "/hosts/redis" }}
{{- $sid := printf "/hosts/redis/%s/sid" $dir }}
{{- $ip := printf "/hosts/redis/%s/ip" $dir }}
{{getv $sid}}|{{- getv $ip}}
{{- end}}
EOF
)