touch /data/sentinel/conf/sentinel.conf

flush /data/sentinel/conf/sentinel.conf << SENTINEL_CONF_EOF
port 26379
daemonize yes
pidfile /data/sentinel/run/sentinel.pid
logfile "/data/sentinel/logs/sentinel.log"
dir /data/sentinel/data
$(cat /data/sentinel/conf/sentinel.conf.master )
sentinel down-after-milliseconds {{ getv "/cluster/cluster_id" }} 30000
sentinel parallel-syncs {{ getv "/cluster/cluster_id" }} 1
sentinel failover-timeout {{ getv "/cluster/cluster_id" }} 180000
sentinel deny-scripts-reconfig yes
SENTINEL_CONF_EOF


quorum=$(expr $(cat /data/redis/data/node.list |wc -l) / 2 + 1 )
echo "SENTINEL set {{ getv "/cluster/cluster_id" }} quorum $quorum" |\
 /opt/redis/current/redis-cli -p {{ getv "/env/standalone_port" }}
 