{
  "name": {{cluster.name}},
  "description": {{cluster.description}},
  "vxnet": {{cluster.vxnet}},
  "multi_zone_policy": "round_robin",
  "backup_policy": "device",
  "incremental_backup_supported": true,
  "nodes": [{
    "role": "redis",
    "container": {
      "type": "kvm",
      "zone": "pek3",
      "image": "img-6oi2wwoe"
    },
    "count": {{cluster.redis.count}},
    "cpu": {{cluster.redis.cpu}},
    "memory": {{cluster.redis.memory}},
    "instance_class": {{cluster.redis.instance_class}},
    "volume": {
      "size": {{cluster.redis.volume_size}}
    },
    "services": {
      "init": { "cmd": "appctl initNode" },
      "start": { "cmd": "appctl start" },
      "stop": { "cmd": "appctl stop" },
      "restart": { "cmd": "appctl restart" },
      "destroy" :{ "cmd": "appctl destroy"}
    },
    "vertical_scaling_policy": "sequential",
    "env": {
      "port": {{env.redis.port}},
      "standalone_port": {{env.redis.standalone_port}}
    }
  }],
  "endpoints": {
    "client": {
      "port": 80,
      "protocol": "tcp"
    }
  },
  "health_check": {
    "enable": true,
    "interval_sec": 60,
    "timeout_sec": 10,
    "action_timeout_sec": 30,
    "healthy_threshold": 2,
    "unhealthy_threshold": 2,
    "check_cmd": "appctl check",
    "action_cmd": "appctl revive"
  },
  "monitor": {
    "enable": true,
    "cmd": "appctl measure",
    "items": {
      "connections": {
        "unit": "count",
        "value_type": "int",
        "statistics_type": "latest",
        "scale_factor_when_display": 1
      }
    },
    "display": ["connections"],
    "alarm": ["connections"]
  },
  "advanced_actions": ["change_vxnet", "scale_horizontal"]
}
